{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container my-5">
        <!-- <h3 class="my-3"><span class="text-danger">Album List</span><a href="#" class="btn btn-sm btn-success">Add Album</a></h3> -->
        <div class="row justify-content-between">
            <div class="col-auto">
                <h3 class="my-3"><span class="text-danger">{{album.title}} Photos List</span></h3>
            </div>
            <div class="col-auto">
                <a href="{% url 'add-photo' album.id %}" class="btn btn-sm btn-success">Add Photo</a>
            </div>
        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>AltText</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for photo in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><img src="{{photo.image.url }}" width="100" height="100"/></td>
                            <td>{{ photo.alt_text }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete this photo?')" href="{% url 'delete-photo' photo.album.id photo.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
